<%= form_for @post do |f| %>

    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |message| %>
            <%= js add_gritter(message, title: 'Overtime App Notification', sticky: false, image: :notice) %>
        <% end %>
    <% end %>

    <div class="form-group">
      <%= f.label :daily_hours, class: 'control-label'%>
      <%= f.number_field :daily_hours, class: 'form-control', step: 0.5 %>
    </div>

    <div class="form-group">
      <%= f.label :date, class: 'control-label'%>
      <%= f.date_field :date, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :work_performed, class: 'control-label'%>
      <%= f.text_area :work_performed, class: 'form-control', rows: '5'  %>
    </div>

    <%= render partial: 'posts/status', locals: {f: f} if current_user.type == 'AdminUser' %>

    <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>

<% end %>
<hr/>

